version: "3.8"

services:
    db:
        image: postgres:latest
        restart: always
        environment:
            POSTGRES_DB: bookstore
            POSTGRES_USER: user
            POSTGRES_PASSWORD: password
        ports:
            - "5432:5432"

    app:
        build: .
        restart: always
        ports:
            - "8080:8080"
        environment:
            DATABASE_URL: postgres://user:password@db:5432/bookstore?sslmode=disable
        depends_on:
            - db
        command: sh -c "./seed && ./main"
