services:
    db:
        image: postgres:latest
        restart: always
        environment:
            - POSTGRES_DB=bookstore
            - POSTGRES_USER=user
            - POSTGRES_PASSWORD=password
        ports:
            - "5432:5432"
        healthcheck:
            test: ["CMD-SHELL", "pg_isready -d $POSTGRES_DB -U $POSTGRES_USER"]
            interval: 5s
            timeout: 5s
            retries: 5

    app:
        build: .
        ports:
            - "8080:8080"
        environment:
            DATABASE_URL: postgres://user:password@db:5432/bookstore?sslmode=disable
        restart: always
        depends_on:
            db:
                condition: service_healthy
        command: sh -c "./seed && ./main"
